{% extends 'base.html.twig' %}

{% block title %}Register to the forum{% endblock %}

{% block body %}
    <section>
        <twig:RegistrationForm class="flex flex-col gap-4" />
    </section>
{% endblock %}
